<div class="background">
  <div class="tools">
  </div>
  <div class="wrapper" mouseWheel (mouseenter)="onMouseEnter()" (mousedown)="mousedown($event)" (mouseWheelDown)="zoomOut();" (mouseWheelUp)="zoomIn();" (mouseup)="mouseup($event)" (mouseleave)="mouseup($event); onMouseLeave();">
  <div class="flowchart" dropzone="true" [style.transform]="zoomString" #flowchartContainer  [style.height.px]="height" [style.width.px]="width">
    <app-node [zoomLevelSubject]="zoomLevelSubject" [container]="elementView" [offsetSubject]="offsetSubject" (moving)="nodeMove($event)" [node]="node" 
      [panStatus]="panStatus" *ngFor="let node of nodes" (createLinkEvent)="createLink($event)" [createdLinkSubject]="createdLinkSubject"></app-node>
    <app-link [offsetSubject]="offsetSubject" [link]="link" *ngFor="let link of links" [movingSubject]="movingSubject"></app-link>
  </div>
  </div>
</div>