div.flowchart {
  width: 100%;
  height: 100%;
  // overflow: hidden !important;
  position: relative;
}

div.wrapper{
  height: 70vh;
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  position: relative;
  border: 1px solid black;
}

div.wrapper:hover {
  cursor: move;
}

div.background{
  position: relative;
  background: #fff;
}