<div (window:resize)="ngOnInit()" [style.left.px]="nodePosition.x" [style.top.px]="nodePosition.y"
  class="flowchart-object node" (mousedown)="mousedown($event)" (mouseup)="mouseup()" (mouseleave)="mouseup()"
  (dragstart)="dragStart($event)" draggable="true" (drag)="drag($event, this)" (dragend)="onDragEnd($event)" [ngClass]="{'dragging': dragging}">
  <svg xmlns="http://www.w3.org/2000/svg" style="user-select: none;" width="240" height="100">
    <g font-family="Roboto" fill="#717171">
      <polygon points="20,50 0,35 0,65" [ngClass]="{'selected': leftNodeSelected}" (click)="createLink(false)" />
      <rect width="200" height="96" x="20" y="2" fill="#E9E9E9" stroke="#717171" stroke-width="2" rx="20" ry="20" />
      <polygon points="240,50 221,35 221,65" [ngClass]="{'selected': rightNodeSelected}" (click)="createLink(true)" />
      <g fill="#717171">
        <text y="25" x="35">
          {{node.productionStepId}}
        </text>
        <text x="35" y="40">
          {{node.label}}
        </text>
        <text x="35" y="85">
          {{node.employeeGroup.name}}
        </text>
      </g>
      <g class="hamburger-button" transform="translate(185, 10)" stroke="#717171" stroke-width="2" (click)="openHamburger();">
        <rect width="20" height="14" stroke-width="0" fill-opacity="0" />
        <line x1="0" x2="20" y1="0" y2="0" />
        <line x1="0" x2="20" y1="7" y2="7" />
        <line x1="0" x2="20" y1="14" y2="14" />
      </g>
    </g>
  </svg>
  <div class="burger" [ngClass]="{'active': hamburgerActive}">
    <div class="close"><i class="fas fa-times" (click)="closeHamburger();"></i></div>
    <ul>
      <li>
        <div class="trash"><i class="fas fa-trash"></i> Delete</div>
      </li>
      <li>
        <div class="goTo"><i class="fas fa-arrow-right"></i> Go To</div>
      </li>
    </ul>
  </div>
</div>

<div class="drag-dummy" #dragDummy></div>