.drag-dummy {
  position: absolute;
  width: 1px; height: 1px; 
}

.selected {
  fill: #00ff00;
}

.node:hover{
  cursor: grab;
}

.node:active{
  cursor: grabbing;
}

.burger {
  color: #717171;
  font-family: 'Roboto', sans-serif;
  background: #f8f9fa;
  border-radius: 20px;
  width: 198px;
  height: 94px;
  position: absolute;
  top: 3px;
  left: 21px;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: scroll;
  align-items: flex-start;
  justify-content: flex-start;
  scrollbar-width: none;
  display: none;
  div.close{
    position: absolute;
    top: 0px;
    right: 15px;
    font-size: 20px;
  }
  div.close:hover{
    cursor: pointer;
  }
  ul{
    padding-left: 0;
    list-style: none;
    margin-top: 5px;
    width: 200px;
    li{
      padding-left: 0;
      width: 100%;
      border-bottom: 1px solid #717171;
      padding-bottom: 5px;
      padding-top: 5px;
    }
    li:first-child{
      padding-top: 0;
    }
    li:hover{
      cursor: pointer;
      color: #3b3b3b;
    }
  }
}

.burger::-webkit-scrollbar {
  // background: transparent;  /* Optional: just make scrollbar invisible */
  display: none;
}

.burger.active {
  display: flex;
}

.hamburger-button:hover{
  cursor: pointer;
}