<div class="flowchart-object" [style.left.px]="svgPosition.x" [style.top.px]="svgPosition.y" [style.width.px]="dimensions.x" [style.height.px]="dimensions.y">
  <svg xmlns="http://www.w3.org/2000/svg" [attr.width]="dimensions.x" [attr.height]="dimensions.y" style="top: 0; left: 0; position: absolute">
    <line [attr.x1]="lineStart.x" [attr.x2]="lineEnd.x" [attr.y1]="lineStart.y" [attr.y2]="lineEnd.y" stroke="#717171" stroke-width="3" />
  </svg>
</div>